*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

body{
    background-color: #eee;
}

h1{
    text-align: center;
    font-family: monospace;
    border: dashed rgb(169, 169, 169) 5px;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
}

#form-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    width: 70%;
}

#form-container form{
    background-color: rgba(213, 210, 210, 0.535);
    margin-right: 2%;
    padding: 2% 2%;
    border: dashed 6px #eee;
    height: max-content;
}

#form-container p,#form-container .seperator{
    margin: 10px 0;
}

#form-container input,#form-container select{
    padding: 5px;
}

#form-container form fieldset{
    padding: 10px;
}

#form-container form fieldset legend{
    border: solid 1px silver;
    border-width: 0 1px 1px;
    margin: 0 auto;
    padding: 10px;
}

#form-container #comment-section{
    display: block;
    margin: 10px 0;
}

#form-container #submit{
    cursor: pointer;
    /* width: max-content; */
    height: 3em;
}

#form-container #submit:hover{
    background-color: #eee;
}

#form-container #shipping-details-container{
    width: max-content;
}

#form-container #shipping-details-container> div{
    margin: 20px 0;
}

#form-container #shipping-details-container input:nth-child(even){
    float: right;
    margin-left: 10px;
}

#logo-container{
    width: 26%;
    padding: 2% 0 0 2%;
}

div {
    background-color: blue;
    padding: 10px;
}
